language: python

python:
  - "3.5"
  - "3.6"
  # PyPy versions
  - "pypy3.5"

# Fix 3.7
matrix:
  include:
    - python: "3.7"
      dist: xenial
      sudo: true

# command to install dependencies
install:
  - pip install pyglet
  - pip install cython
# command to run tests
script: python tests.py